body {
  color: white;
  background-color: #282c34;
  width: 800px;
  margin: 25px auto;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

rect {
  fill: steelblue;
  fill-opacity: 0.8;
}

rect:hover {
  fill-opacity: 1;
}

.axis {
  font-size: smaller;
}

.year {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.year p {
  margin-right: 1rem;
}

.year select {
  padding: 3px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1rem;
  outline: none;
}

.tooltip-value {
  font-weight: bold;
  font-size: 1rem;
}